/* Sticky Header und Footer */
header {
  position: sticky;
  top: 0;
  z-index: 2000;
} 

footer {
  position: sticky;
  bottom: 0;
  z-index: 1000;
} 

header .navbar-nav .nav-link.active {
  color: black;
  font-weight: bold;
}
footer .nav .nav-link.active {
  color: black;
  font-weight: bold;
}

/* Hintergrundfarben */
header nav.navbar {
  background-color: #A5D6A7;
}

footer {
  background-color: #A5D6A7;
}

body {
  background-color: #F9FBF7;
}
